body{
max-width:1920px; 
padding:0;
margin:auto;
}


#backgroundContact{
  background-image: url('kontaktpic.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size:cover;
  height:100%;
}
#background-info{
  background-image: url('records.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size:cover;
  height:100%;
}
.mySlides{
  width:100%;
  height:60vh;
}
#slidefooter{
  width:100%;
  height:50px;
  background-color:rgb(39, 38, 38);
  display:flex;
  justify-content: space-around;
}
.fa-star,.fa-phone,#slidefooter > a > h2{
  color:white;
  background-color:none;
}
#slidefooter > a:hover{
  background-color:rgb(26, 25, 25);
}
#headerPic{
  width:100%;
  height:60vh;
}
#container{
  align-items: center;
}
#content{
  margin-bottom:80px;
}
#header{
  display:flex;
  justify-content:flex-end;
  width:100%;
  height:30px;
  background-color:rgb(26, 25, 25);
  border-bottom:3px inset     rgba(19, 18, 18, 0.671);
}
#header2{
  display:flex;
  width:100%;
  height:50px;
  background-color:rgb(39, 38, 38);
  border-bottom:3px  inset   rgba(19, 18, 18, 0.671); 
  justify-content: space-around;
}
#header3{
  width:100%;
  height:30px; 
  background-color:rgb(39, 38, 38);
}
.logo > h1{
  padding-top:10px;
  margin-top:0px;
  margin-right:40vw;
}
.logo>h1>a:hover{
  background-color:rgb(39, 38, 38);
 color:white;
}
#footer{
  height:35px;
  width:100%;
  background-color:rgb(26, 25, 25);
  position:fixed;
  bottom:0px;
}


.memberForm,#cartH1{
  text-align: center;
  padding-top:2vh;
}
#emailP{
  flex-direction: row;
  display:flex;
}
ul{
  list-style: none;
}
.cart>a:hover{
  background-color:rgb(39, 38, 38);

}

#numbersInCart{
  background-color:red;
  width:25px;
  border-radius: 50%;
  text-align: center;
 
}
.cart{
  display:flex;
}
#userLogin{
 text-align: end;
  margin-right: 2vw;
  margin-top: 2vh;
}

#myCarousel{
  margin-top:5vh;
}

th{
  border:1px solid;
  font-size:25px;
  text-align: center;
}

.kundTable{
  display:flex;
  justify-content: center;
  padding-top: 10vh;
  
}
/*Produkt kort*/

.cards{
  max-width:200px;
  margin-top:5vh;
  margin-left:6vw;
  margin-bottom:2vh;
  border:solid rgba(0, 0, 0, 0.39) 3px;
  flex-direction: row;
}
.cardPic>img{
  width:100%;
  width:100%;
}
.prodCardWrapper{
  display:flex;
  flex-wrap:wrap;
  justify-content: flex-start; 
}
.moreInfo{
  max-width:900px;
  margin:auto;
}
.moreInfo > .cardInfo{
  text-align: left;
  margin-left:5vw;
  max-width:350px;
  border:0;
}

.moreInfo > .cardName{
  float:left;
  justify-content: flex-start;
  margin-top:10vh;
  width:50%
}
.moreInfo > .cardPic{
  justify-content: flex-end;
  display:flex;
  margin-top:10vh;
  width:50%;
  float:left;
}

.moreInfo > .cardPic > img{
width:340px;
display:flex;
}
.buyProd{
  color:white;
}
.buyProd:hover{
  background-color:rgb(190, 184, 184);
}


/* Info korten*/
#info{
  margin-top: 10vh;
}
#workers{
margin-top:10vh;
display: flex;  
height: 100%;
}
.teamCard{
 width: 40%;
}
.profileImg>img{
  max-width:200px;
  height:200px;
  border-radius: 50%;
}
.profileImg{
  display: flex;
  justify-content: space-around;
}
.textInfo{
  text-align:center;
}





.cardName,.cardInfo, .cardBuy {
  text-align: center;
}
.cardInfo{
  border-top:3px solid black;
}
.cardBuy{
  border-top:3px solid black;
  display:flex;
  justify-content: space-around;
}
.buy{
  background-color:rgb(5, 2, 2);
  color:white;
  padding:2%;
}
.buy:hover{
  background-color:rgba(5, 2, 2, 0.288);
}
.buy > a:link{
  color:white;
}
#member,#buyNow {
  margin-left:50%;
  justify-content:center;
 
}
#totPrice>h3{
 text-align: center;
}
#emptyCart{
  text-align: center;
}
/*Produkt kort SLUT*/


/*Kontakt Sidan*/
#contactCard{
  margin-top:10vh;
  width:50vw;
  background-color:rgba(213, 214, 209, 0.699);
  margin:auto;
  display:flex;
  justify-content: space-around;
}

#iframeWrapper{
  justify-content: center;
  display:flex;
  margin-top:10vh;
}
#socialBar{
  width:100%;
  height:50px;
  background-color:rgba(213, 214, 209, 0.233);
  margin-bottom: 6vh;
  justify-content: center;
  display:flex;
}
.fa{
  margin-left:1vw;
}
.fa-facebook-official:hover{
  color:#3b5998;
  background-color:none
}
.fa-instagram:hover{
  color:rgb(116, 47, 156);
}
.fa-twitter-square:hover{
  color:#00aced;
}
.fa-envelope:hover{
  color:#b4911d;
}
a:hover{
  background-color:none;
}
a{
  color:black;
  text-decoration: none;
}
#rubrikKontakt{
  margin-top:2vh;
  display:flex;
  justify-content: center;
  font-size:60px;
}
/*Kontakt Sidan Slut*/

/*Info Sidan Start*/
#rubrikInfo {
  margin-top:2vh;
  display:flex;
  justify-content: center;
  font-size:60px;
}



/*Dropdown menyn*/
/* Navbar container */
.navbar, #header {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
  }
  
  /* Links inside the navbar */
  .navbar a, #header a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px; 
    border: none;
    outline: none;
    color: white;
    padding: 8px 16px;
    background-color: inherit;
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn, #header a:hover {
    background-color: rgb(68, 64, 64);
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content0, .dropdown-content1, .dropdown-content2, .dropdown-content3 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content0 a, .dropdown-content1 a, .dropdown-content2 a, .dropdown-content3 a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content0, .dropdown-content1, .dropdown-content2, .dropdown-content3, a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content0, .dropdown:hover .dropdown-content1, .dropdown:hover .dropdown-content2,.dropdown:hover .dropdown-content3  {
    display: block;
  }


  @media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
body{
  background-color:blue;
}
}